{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}ユーザー登録
{% endblock  %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">ユーザー登録</h4>
        </div>
        <div class="card-body">
            <form method="post" novalidate>
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button type="submit" class="btn btn-primary btn-block">ユーザー登録</button>
                {% endbuttons %}
            </form>
        </div>
        <div class="card-footer text-muted text-center">
           ログインは <a href="{% url 'login' %}">こちら</a>
        </div>
    </div>
</div>
{% endblock  %}