{% extends "base.html" %}
{% block title %} ホーム {% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">ようこそ{{ user.get_username }} さん</h4>
        </div>
        <div class="card-footer text-muted text-center">
            <a href="{% url 'logout' %}">ログアウト</a>
            {% else %}
            <a href="{% url 'login' %}">ログイン</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
